// Import Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,400);

// Head tags
h1, h2, h3,
h4, h5, h6{
  font-family: $head-font-family;
}

// Body text
p{
  font-family: $base-font-family;
  font-size: $base-font-size;
}

.site-header{
  a{
    font-family: $head-font-family;
  }
}
p a{
  text-decoration: underline;
  color: #00e600;
}
